<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cy.agorise.graphenej">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <service
            android:name=".api.android.NetworkService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>